* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial; }
form { background: #000; padding: 8px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 89%; margin-right: .5%; border-radius: 4px; }
form #button { color:#FFF; background: #2D9F0B; border: none; padding: 10px;  width: 9%; height: 45px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#notifyUser { position: fixed; bottom: 60px; width: 100%; }

ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:100px;
}
