<!doctype html>
<html lang="en">
  <head>
    <title>Chat Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="bulma.css">

  </head>
  <body>
    <div id="app">
        <ul id="messages">
            <li v-for="message in messages">
              <b :style="{ color: message.color }">{{ message.from }}</b>: {{ message.msg }}
            </li>
        </ul>
        <div id="notifyUser"></div>  

        <form id="form" @submit.prevent="submitfunction">
            <input type="hidden" id="user" value="" />
            <input id="m" autocomplete="off" @keyup="notifyTyping()" placeholder="Type your message here.."/>
            <input type="submit" class="button" id="button" value="Send" class="is-success" />
        </form>
        
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="chat.js"></script>
    </script>
    <script>
    var socket =   
    io.connect('http://localhost:8080')
    
    socket.on('news', function (data) {
        console.log(data)
        socket.emit('my other event', { 
          my: 'data' })
    })
    </script>
    
  </body>
</html>